*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;

    /* display: flex;
    align-items: center;
    justify-content: center; */
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /* background-color: yellow; */
    background: linear-gradient(-45deg,#e250e5,#4b50e6,#e250e5,#4b50e6);

    padding: 10px;
}


.box{
    width: 100%;
    max-width: 1000px;
    padding: 25px 30px;
    border-radius: 15px;
    background: linear-gradient(-45deg,#e250e5,#4b50e6,#e250e5,#4b50e6);



    
    
}


.box form .details{
    margin: 20px auto;
    width: 100%;
    max-width: 200vh;
    display: flex;  
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    
}

form .inputBox{

    margin-right: 25px;

}



form .getdetails{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.details .inputBox input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    /* border: 1px solid; */
}

form file{
    display: flex;
    align-items: center;
    justify-content: center;
}


.content{
    width: 100%;
    max-width: 900px;
    border-radius: 60px;
}


